{% extends 'layout.html' %}

{% block body %}

<dashboard>

    <div class="responsive-table">
        <h2>Active Complaints</h2>
      <li class="table-header">
        <div class="col col-3">Complaint Type</div>
        <div class="col col-1">Student Name</div>
        <div class="col col-3"> <th>Room No</th> </div>
        <div class="col col-1"> <th>Description</th> </div>
      </li>
      {% for log in logbook %}
        <li class="table-row">
            <div class="col col-3" data-label="Complaint Type">{{ log.maintenance_type}}</div>
            <div class="col col-1" data-label="Student Name">{{ log.user.name }}</div>
            <div class="col col-3" data-label="Room No">{{ log.room_no}}</div>
            <div class="col col-1" data-label="Description">{{ log.data }}</div>
        </li>
        {% endfor %}

        <div style="display: flex; justify-content: space-evenly">
            <a href="{{ url_for('auth.logout') }}">Press here to logout</a>
            <a href="{{ url_for('views.admin_assignroles') }}">press here to assign roles</a>
        </div>
        
          
    </div>
</dashboard>




    

{% endblock %}




