{% extends 'layout.html' %}

{% block body %}


    <section class="home">
        <div class="form_container">
                <class="form login_form">
                    <form action="/employee_login" method="POST">
                        <h2>Employee Login</h2>
                        {{ form.hidden_tag() }}
                        <div class="input_box">
                            {{ form.username(class="flask_form") }}
                            <i class="uil uil-envelope-alt email"></i>
                            </div>
                        <div class="input_box">
                            {{ form.password(class="flask_form") }}
                            <i class="uil uil-lock password"></i>
                            <i class="uil uil-eye-slash pw_hide"></i>
                        </div>
                        <button class="button" id="form-open"  >Login Now</button>
        
                        <div class="login_signup">Don't have an account? <a href="{{ url_for('auth.employee_register') }}" id="signup">Signup</a></div>
                    </form>
                </div>
        </div>
    </section>


{% endblock %}
