{% extends "layout.html" %}


{% block body %}

    <section class="home">
    <div class="form_container">
            <div class="form login_form ">
                <form action="index.html" method="post">
                    <button class="button" name="submit_button" value="student" >Student</button>
                    <button class="button" name ="submit_button" value ="employee" >Employee</button>
                    <button class="button" name ="submit_button" value ="admin" >Admin</button>
                </form>
            </div>

    </div>
</section>

{% endblock %}
